.notValid{
 border: 2px solid red;
animation: shake 1s ease-in-out 1;
}

@keyframes shake {
    0%, 100%{
        transform: translate(0px);
    }
    25%{
        transform: translate(8px);
    }
    75%{
        transform: translate(-8px);

    }
}