@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-Stroke-width-dark{
    path {
      stroke-width: 50px !important;
    }
  }
  .custom-Stroke-width-light{
    path {
      stroke-width: 50px !important;
    }
  }
}

html{
  ::-webkit-scrollbar {
    width: 8px
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fcfcfc
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 11px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563
  }
}
